<div class="container">
  <h3 class="text-center mt-4">送信が完了しました</h3>
  <div class="row text-center">
    <div class="col-8 offset-2 mt-5 ">
      <div>
        <p>内容は以下の通りです。</p>
      </div>
      <div>
        [タイトル]<p class="font-weight-bold"> <%= @mail_title %></p>
      </div>
      <div>
        [本文]<p class="font-weight-bold"> <%= safe_join(@mail_content.split("\n"),tag(:br)) %></p>
      </div>
    </div>
  </div>
</div>