<div class="container">
  <% @entry2.each do |e|  %>
  <h1><%= e.user.name %>さんとのチャット</h1>
  <% end %>
  <%= render "rooms/message", messages: @messages, message: @message,room: @room  %>

  <div class="left-button">
    <%= link_to "ユーザー一覧に戻る", users_path ,class:"edit-link" %>
  </div>
</div>

